<h2>Add Event</h2>

<form name="addEventForm" ng-submit="addEvent(addEventForm.$valid)" novalidate>
  <input type="date" ng-model="event.date"><br>
  <input type="time" ng-model="event.time"><br>
  <input type="text" ng-model="event.as_sung_by" placeholder="Artist"><br>
  <input type="text" ng-model="event.song_title" placeholder="Song"><br>
  <input type="radio" ng-model="event.type_of_meet" value="battle"> Battle<br>
  <input type="radio" ng-model="event.type_of_meet" value="collabo"> Collabo<br>
  <button>SUBMIT</button>
</form>